<div class="container">
  <p>You got to the secret page, <%= @user.name %>!<p>
  <a href="/">Home</a>

  <% @urls.each do |url|%>
  <p>Link for <%=url.url%>:</p>
  <p><a href="<%=url.short_url%>">http://localhost:9393/<%=url.short_url%></a> </p>
  <p>This link has been clicked <%=url.click_count%> time(s).  Click it again!!</p>
  <br>
  <% end %>

</div>